/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
\
F1FAEE

*/

#main{
    background-image: url("images/tlaxcala.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;

    display: flex; 
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    
    padding: 0;
    margin: 0;
    
}
#header-one{
    background-color: #1D3557;
    padding: 5px 10px;
    border-radius: 15px;
    text-shadow: 0 0 2px black;

}
#header-two{
    background-color: #457B9D;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 20px;

}
.activities-pics{
    height: 175px;
    width: 175px;
    border-radius: 50%;
}
.activities-pics:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#activities-container{
    background-color: #F1FAEE;
}   
h3{
    margin: 0px;
    padding: 60px;
    font-size: x-large;
    color: #1D3557;
}
#nav-activities{
    display: flex;
    justify-content: space-around;
    border-top: 0px;
    height: 300px;
    
}
body {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  

    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}
h4{
    color: #1D3557;
}
#card{
    display: flex;
    width: 700px;
    gap: 40px;
    margin: 40px auto;
    padding: 50px;
    justify-content: space-between;
    text-align: center;
    background-color: #A8DADC;
}

#avatar{
    height: 150px;
    width: 150px;
}